<% unless @variable.nil?
  var_intro = @variable.name
end%>

<div id="portrait">

  <section class="title">
    <h1 class="section-title"><%= var_intro %> Portraits</h1>
    <p class="paragraph">Choisissez la dimension qui vous intéresse, vous pourrez ensuite naviguer au travers des portraits ou des indéfinitions liées à ce thème.</p>
  </section>

  <section class="section-container-portrait">

    <% @portraits.each do |portrait| %>
    <%= link_to portrait do %>
        <% if !portrait.image.nil? %>
          <%= image_tag(portrait.image) %>
        <%end%>
        <iframe heigth="200px" width="200px" frameborder="0" src=" <%= portrait.url %> "></iframe>

        <% end %>
    <% end %>

  </section>

</div>
