@import "colors";

#home {
  width: 100vw;

  .section-landing {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-image: url(asset_path('digitales.gif'));
    background-repeat: no-repeat;
    background-size: cover;

// Souris indication => scroll-down

    span.scroll-down {
      display:block;
      width: 7px;
      height: 7px;
      background:#fff;
      border-radius:50%;
      margin:15% auto auto auto;

      -webkit-animation: scroll-inner 1.5s;
      animation: scroll-inner 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function:ease;
      animation-timing-function:ease
    }
    div.mouse-container{
      position:relative;
      display:block;
      //border:solid 1px red;
      height:100px;
    }
    div.mouse {
      position:relative;
      margin:0 auto;
      display:block;
      width: 35px;
      height: 50px;
      border: solid 2px #fff;
      border-radius: 25px;
      -webkit-animation: scroll-mouse 1.5s;
      animation: scroll-mouse 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      //-webkit-animation-timing-function:ease;
      //animation-timing-function:ease;
    }
  }
}
