@import "colors";

.background-container {
  width: 100%;
  // background: $white;
}

.section-news {
  border-top: 1px solid $dark-blue;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 200px;
  .section-news-title {
    line-height: 100px;
    margin: 40px auto;
  }
}

.flex-box-grid-container {
  width: 960px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .title-description {
    padding-bottom: 25px;
  }
  div.paragraph-news {
    p {
      line-height: 18px;
    }
  }
}

.title-description, .title-description {
  width: 350px;
}

.container-link-dimensions {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 350px;
}


div.flex-box-grid-content {
  width: 45%;
  min-width: 390px;
  padding: 25px;
  background: white;
  margin: 50px 0;
  height: auto;
  box-shadow: 0px 30px 60px 0px rgba($black, .1);
  iframe {
    display: block;
  }
  }
