// Place all the styles related to the Variables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#var {

  .title {
    position: fixed;
    width: 960px;
    z-index: -999;
    top: 50%;
    left: calc(50% - 480px);
    transform: translateY(-50%);
    .paragraph {
      width: 300px;
    }
  }
  .container-var ul {
    margin: 42vh 0;
    li {
      margin: 5em 0;
    }
  }
  .container-var {
    float: right;
    width: 55%;
    button {
      color: $dark-blue;
      text-transform: uppercase;
      background: transparent;
      padding: 20px;
      margin: 0 50px;
      border: none;
      opacity: 0;
    }
    a {
      margin: 0 50px;
      line-height: 50px;
      text-transform: capitalize;
      color: $dark-blue;
      transition: .25s linear;
      font-weight: 100;
      &:hover {
        color: $light-blue;
      }
    }
    li em {
      font-size: 94px;
      list-style: none;
      font-weight: 100;
      pointer: cursor;
      color: $dark-blue;
      display: block;
      &:hover {
        button {
          opacity: 1;
        }
      }
    }
  }
}
